<%- include('./../partials/upper.ejs',{ title:post.caption }) %>
</head>
  <body>
    <%- include('./../partials/navbar2.ejs',{ user:user }) %>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
