<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error $0$</title>
  </head>
  <body style="font-family: sans-serif">
    <h1>ErRoR $04</h1>
    <h2>Not Found</h2>
    <h3>Hue Hue</h3>
  </body>
</html>
