<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <title>Log In</title>
  </head>
  <body>
    <%-include('./partials/navbar.ejs')%>
    <br />
    <div class="container">
      <% if(err){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Invalid OTP
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <div class="container" id="loginForm">
      <form action="/auth/login" method="POST">
        <div class="container-fluid">
          <div>
            <label for="email" class="form-label">Enter OTP</label>
            <input
              type="number"
              autofocus
              name="otp"
              class="form-control"
              id="otp"
              required
              minlength="6"
              placeholder="One Time Password"
            />
          </div>
          <input type="hidden" name="_id" value="<%= id %>" />
        </div>

        <div class="container-fluid">
          <br />
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </form>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
