<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <style>
      #verify {
        border: 2px solid rgb(94, 94, 94);
        padding: 2rem;
        border-radius: 25px;
        width: 75%;
      }
    </style>
    <title>Log In</title>
  </head>
  <body>
    <%-include('./partials/navbar.ejs')%>
    <br />
    <div class="container text-center">
      <% if(err){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Invalid OTP !</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <div class="container" id="verify">
      <form action="/auth/verify/<%=id%>" method="GET">
        <div class="container-fluid">
          <div>
            <label for="otp" class="form-label">Enter OTP</label>
            <input
              type="number"
              autofocus
              name="otp"
              class="form-control"
              id="otp"
              required
              minlength="6"
              maxlength="6"
              placeholder="One Time Password"
            />
          </div>
          <input type="hidden" name="_id" value="<%= id %>" />
        </div>

        <br />
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-secondary">
                Resend OTP
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
