<%- include('./../partials/upper.ejs',{title:'Search Results'}) %>
</head>
  <body style="background-color: rgba(255, 228, 196, 0.7)">
    <%- include('./../partials/navbar2.ejs') %>
    <div class="container">
      <h2>Search Results</h2>
    </div>
    <main>
      <div class="container">
        <% searchResults.forEach(x => { %>
        <div class="my-2"><%= x.firstname + ' ' + x.lastname %></div>
        <% }) %>
      </div>
    </main>

    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
